body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #e00d0db4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/* ul li a{ */
    /* text-decoration: none; */
    /* cursor: pointer; */



/* phone */
/* @media (max-width:599px) { */
    /* ul li a{ */
    /* } */

/* large phone and tablet */
/* @media (min-width:600px) and (max-width:767px) { */

/* laptop */
/* @media (min-width:768px) and (max-width:1199px) { */
/* laptop */
/* @media (min-width:768px) and (max-width:1199px) { */
/* @media (max-width:1200px) { */
    
/* desktop */
/* @media (max-width:1200px) { */